// _base.scss should not compile to any CSS.
// It should only contain non-compiling .scss like variables and mixins.
// This will be available to all the other .scss files.

@import "mixins";

// Western Brand Colors
$wwuBlue: #003f87;  // Passes color contrast checker: http://webaim.org/resources/contrastchecker/
$wwuRed: #cc2d30; // Passes color contrast checker for text on white background.
$wwuGreen: #006b3f; // Passes color contrast checker for text on white background.

$wwuLtBlue: #0083d6; // Fails color contrast checker for text on white background. Use $wwuOceanBlue instead for text.
$wwuOceanBlue: #0070b6; // Passes color contrast checker for text on white background.

$wwuYellow: #ffc61e; // Fails color contrast checker for text on white background. Use $wwuDarkYellow instead for text.
$wwuDarkYellow: #836200; // Passes color contrast checker for text on white background.

$wwuLime: #bad80a; // Fails color contrast checker for text on white background. Use $wwuDarkLime instead for text.
$wwuDarkLime: #6b7d06; // Passes color contrast checker for text on white background.

$wwuGrayBlue: #4B689C; // Passes color contrast checker for text on white background.
$dark: #111; // Passes color contrast checker for text on white background. Most body text, instead of #000.

$wwuPaleBlue: #cce6f7; // Fails color contrast checker for text on white background.
$wwuPalestBlue: lighten($wwuPaleBlue, 5%); // Fails color contrast checker for text on white background.

$wwuGray: #656565; //Still waiting approval
$wwuDarkGray: #4c4c4c;
$wwuLtGray: #E9E9E9; // Fails color contrast checker for text on white background.


// Global Settings
$convertToEm: true;

//New Breakpoints
$large: min-width 771px;
$medium-large: 771px 1280px; //min: 771, max: 1280
$medium: max-width 770px;
$medium-only: 479px 770px;
$small: max-width 479px;
$not-small: min-width 479px;

// Baseline grid; basic unit
$baseline: 16px;
$half-base:($baseline/2); 
$quarter-base:($baseline/4); 

// Font variables
$serif:baskerville, garamond, georgia, serif;
$sans:verdana, arial, helvetica, geneva, sans-serif;
$muli:muli, $sans;
$lato:lato, $sans;
$lato-light: 300 $lato;
$code:"Lucida Console", Monaco, monospace;

// Zen grid global settings
// Overrides: 9 col in footer
$zen-column-count:12;

$zen-gutter-width: $baseline;

$box-sizing-polyfill-path: "//www.wwu.edu/wwucommon/lite/js/boxsizing.htc";
