
/**
 * Styles for the comment section of blog posts
 *
 */

.entry-comments {
	background: #fff;
	padding: 1em;
	margin-bottom: 1em;
}

.comment-content {
	margin-left: emCalc(65);
}

.comment article {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.comment ul.children {
	margin-left: 5%;
}

.comment-header {
	.comment-author {
		display: inline;
		font-weight: bold;
		color: $wwuBlue;
		-webkit-font-smoothing: initial;
	}
	.comment-meta {
		color: $wwuGray;
		font-weight: 300;
		
		@include breakpoint($large) {
			display: inline;
			float: right;
		}
	}
}

.comment:last-child article {
	margin-bottom: 0;
}

/* even/odd striping */
.even.comment article {
	//border-color: #ccd9e7;
}

//make sure even and odd have different specificity or one will override
.odd article {
	//border-color: #99b2cf;
}

#reply-title {
	font-family: $muli;
	color: black;
}

.comment-edit-link,
.comment-reply-link {
	font-size: 14px;
	margin-left: 10px;
}

.comment-reply,
.comment-after {
	text-align: right;
}

/** Styles for the submit a new comment section **/

.comment-respond {
	clear: both;
	background-color: #fff;
	padding: 1em;

	textarea {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 98%;
		padding: 1%;
	}
}

//If replying to comment and is nested within comments
.comment-list #respond {
	border-top: 2px dashed $wwuBlue;
}

//focus styles for the textbox
.comment-respond [type=text]:focus, textarea:focus {
	box-shadow: 0 0 1 rgba(81, 203, 238, 1);
	margin: 5px, 1px, 3px, 0px;
	border: 1px solid rgba(81, 203, 238,1);
}

.entry-comments {
	article {
		padding: 1em;
	}

	.comment-header {
		display: block;
	}

	.avatar {
		padding-right: 1em;
		float: left;
	}

	.comment-author {
		margin-bottom: 0;
	}
}

//styles for hiding comments
.hidden-comment {
	display: none;
}

//Global styles for all comment buttons
#comments, #respond {
	input[type=submit] {
		width: 100%;
		border: 0;
		border-bottom: 2px solid $wwuLtGray;
		background: rgba($wwuYellow, 0.8);
		color: black;
		margin-bottom: 10px;
		font-family: $lato;
		font-weight: 300;
		padding: 7px;
		cursor: pointer;
		
		&:active {
			@include transform(translateY(2px));
		}

		&:hover {
			background: $wwuYellow;
		}
	}
}

#cancel-comment-reply-link {
	  float: right;
	  font-size: 16px;
	  color: $wwuRed;
	  font-family: lato;
}

label[for="comment"] {
	display: none;
}
