// // // // // // //      General      // // // // // // //
// Multiple selectors and primary parent elements like body, main, .body-wrapper, etc.
$zen-gutter-width: emCalc(40);
$mobile-side-margin: emCalc(12);
$sidebarPadding: emCalc(15);

body {
	background-color:$wwuLtGray;
	border-top:solid 5px $wwuLtBlue;
	font-family:$lato;
	color:$dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include breakpoint($medium) {
		border:none; //Remove WWU blue header bar
	}
}

.site-container {
	max-width:1200px;
	margin:0 auto;
	@include zen-grid-container();

	@include breakpoint($medium-large) {
		margin: 0 1em;
	}
}

header[role="banner"],
.body-wrapper {
	@include zen-clear();
}

a {
	color:$wwuOceanBlue;
	cursor:pointer;
	@include transition(.33s color);
	&:link, &:visited { @extend a; }
	&:hover, &:active {
		color:$wwuBlue;
		@include transition(.1s color);
	}
	&:focus {
		text-decoration: underline;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family:$muli;
	color:$wwuBlue;
}
h1 {
	font-size: emCalc(30); // 30px
	margin:0em 0 -.4em 0;
	line-height:140%;
	padding-bottom: 1em;
}

h2 {
	font-size:emCalc(25); // 25px
	margin:-0.65em 3 0 0;
	line-height:140%;
	padding: .5em 0 .8em 0;
}

h3 {
	font-size:emCalc(20); // 20px
	margin: 1em 0 .5em 0;
	line-height:1.5em;
}

h4 {
	font-size: emCalc(17.5); // 17.5px
	margin:2em 0 1em 0;
}

h5 {
	font-size: emCalc(15); // 15px
	margin:1em 0 0 0;
}

h6 {
	font-size: emCalc(12.5); // 12.5px ;mtr
	margin:0;
	font-style:italic;
}

main {
	background-color: white;

	p {
		font-size: emCalc(16);
		font-family: $lato;
		line-height: emCalc(25);
		margin-bottom:1em;
		&:last-child { margin-bottom:.8em; }
	}
	a:hover {
		text-decoration: underline;
	}
}

dt {
	font-weight: bold;
	width: 28%;
	float: left;
}
dt, dd {
	font-size: 1.6em;
}
dd {
	font-style: italic;
	padding-bottom: 2em;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
figcaption {
	font-size:1.3em;
	font-size:13px;
}

hr {
	margin: emCalc(10) 0;
	border: none;
	height: 1px;
	background-color: $wwuLtGray;
}

textarea {
	resize: none;
}

blockquote {
	margin:1em auto;
	&:before {
		float:left;
		position:relative;
		top:15px;
		left:-1em;
		font-family:$serif;
		font-size:9em;
		line-height:2em;
		margin-right:-.5em;
		color:#fff;
	}
	&:after {
		float:right;
		position:relative;
		bottom:-.5em;
		right:-.5em;
		font-family:$serif;
		font-size:9em;
		line-height:2em;
		margin-right:-.5em;
		color:#fff;
	}
	cite {
		font-size:1.3em;
		font-style:italic;
		&:before { content:"\2014"; }
	}
}

code {
	p & {}
}

input {
	border: 1px solid $wwuGray;
}

input[type="text"],
input[type="email"],
input[type="url"] {
	margin-left: 10px;
}

//Wordpress core screenreader classes
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

//Genesis Layout-Specific Styles
body.sidebar-content {
	main {
		@include breakpoint($large) {
			@include zen-grid-item(9,1, right);
			max-width: 70%;
			margin-bottom: emCalc(30);
		}
	}
	.sidebar-primary {
		@include breakpoint($large) {
			@include zen-grid-item(3,1);
		}
	}
}

body.content-sidebar {
	@include breakpoint($large) {
		main{
			@include zen-grid-item(9,1,left,$zen-column-count, 0px);
			max-width: 70%;
		}

		.sidebar-primary {
			@include zen-grid-item(3,10);
			margin-bottom: emCalc(30);
		}
	}
}

/*Fix for WWU footer card hitting content at a certain width on
right-aligned sidebar layouts*/
body.content-sidebar,
body.sidebar-content-sidebar {
	$card-collide: 750px 1120px;
	@include breakpoint($card-collide) {
		.western-card{
			@include transform(translateY(0px));
		}

		.genesis-nav-menu a {
			font-size: 15px;
		}
	}
}

//Content Styles All Layouts
main {
	@include breakpoint($large) {
		@include drop-shadow();
		padding-right: 0px;
		padding-left: 0px;
	}
}

//Card style everything when on tablet only.  
//Exclude blog because  that always has these styles on each article element.
body:not(.blog) main {
	@include breakpoint($medium-only) {
		margin: $mobile-side-margin;
	}
}

article.page {
	padding: 1em;
}

.site-footer {
	@include zen-clear(left);
}

.sidebar-primary {
	background-color: white;
	border-radius: 2px;
	margin: emCalc(10) 0;
	padding: $sidebarPadding;
	clear: both;

	section:first-child {
		margin-top: 0px;

		h4 {
			margin-top: 1em;
		}
	}
	
	@include breakpoint($large) {
		margin: 0px;
		@include drop-shadow();
		clear: none;
	}

	@include breakpoint($medium) {
		margin: $mobile-side-margin;
	}

	.widget-title,
	.widgettitle{
		color: black;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid $wwuLtGray;
		padding-bottom: emCalc(5);
	}

	a {
		font-weight: 300;
		line-height: 25px;
	}
}

//Blog Styling
body.page-template-page_blog,
body.blog,
body.single-post,
body.archive,
body.search {
	$post-padding: emCalc(15);
	
	.entry-time {
		font-weight: 300;
		padding-left: 2px;
	}

	main {
		background-color: transparent;
		box-shadow: none;
		padding: 0px;
	}

	article {
		@include breakpoint($large) {
			margin: 0;
			margin-bottom: emCalc(15);
		}

		margin: $mobile-side-margin;
		background-color: white;
		line-height: emCalc(30);
		@include single-box-shadow(0px, 0px, 5px, 3px, rgba(black, 0.03));

		h1{
			font-family: $muli;
			line-height: 110%;
			font-size: emCalc(30);
			padding-bottom: 10px;
			-webkit-font-smoothing: auto;
		}

		a:hover {
			color: $wwuLtBlue;
		}
	}
	
	// Don't want border around "Featured Post" items
	.sidebar article {
		@include box-shadow(none);
	}

	.post_container {
		padding: $post-padding;
	}

	@include breakpoint($medium) {
		.sidebar-primary {
			margin: $mobile-side-margin;
		}
	}
	

	footer.entry-footer {
		$color: #f5f5f5;
		padding: 0 $post-padding;
		padding-top: 5px;
		background-color: $color;
		border-bottom: 5px solid $color;
		border-radius: 2px;
		clear: both;

		//All icons
		.entry-author:before, 
		.entry-categories:before,
		.entry-tags:before {
			color: $wwuDarkGray;
			padding-right: emCalc(10);
		}

		.entry-author:before {
			@include icon(user);
		}
		.entry-categories:before {
			@include icon(folder);
		}
		.entry-tags:before {
			@include icon(tag);
		}

		.entry-meta {
			margin-bottom: 0px;

			span {
				margin-right: emCalc(20);
			}

			a {
				color: $wwuDarkGray;
				font-size: 14px;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

//Search Page Styling
body.search {
	.archive-title {
		margin-bottom: 1em;
		padding: 10px 15px;
		background-color: white;
		border-bottom: 1px solid $wwuBlue;
		color: black;
		font-size: 18px;

		@include breakpoint($medium) {
			margin: $mobile-side-margin;
		}
	}

	article.type-page h1 {
		border-bottom: 1px solid #ccd9e7;
		margin-bottom: 5px;
		padding-bottom: 10px;
	}
}

//No results search page
body.search-no-results {
	.breadcrumb {
		display: none;
	}
	main {
		margin: $mobile-side-margin;
		padding: $sidebarPadding;
		background-color: white;
		border-radius: 1px;
	}

	.archive-title {
		padding: 0;
	}
}

//Breadcrumbs
.site-inner .breadcrumb {
	display: none;
	@include breakpoint($large) {
		display: block;
		color: #868686;
		padding: 10px;
		border-bottom: 1px solid #c3c3c3;
		background-color: #EAEAEA;

		a {
			color: #868686;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//Header and title area
.title-area {
	width: 70%;
	margin: 0 auto;
	padding: 10px 0;

	.site-title {
		text-align: center;
		text-shadow: 2px 2px 5px $wwuGray;
		padding-bottom: 10px;
		@include breakpoint($small) {
			padding-bottom: 0.5em;
		}
		a:focus {
			border-bottom: 1px solid rgba(255, 255, 255, 0.7);
			text-decoration: none;
		}
	}
	p.site-title {
		@extend h1;
	}
	p.site-description {
		line-height: 140%;
    	padding: .5em 0 .8em 0;
    	color: white;
	}
	.site-description {
		text-align: center;
		font-style: italic;
    	text-shadow: 1px 1px 3px $wwuGray;
		font-family: $lato;
		font-weight: 300;
		font-size: emCalc(20);

		@include breakpoint($large) {
			font-size: emCalc(22);
		}
		@include breakpoint($medium-only) {
			font-size: emCalc(18);
		}
		@include breakpoint($small) {
			display: none;
		}
	}

	.page-title {
		text-align: center;
		font-family: $lato;
		font-size: emCalc(25);
		font-weight: 300;
		margin: 15px 0;
		padding: 10px 0;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		color: white;

		@include breakpoint($medium-only) {
			font-size: emCalc(20);
		}
		@include breakpoint($large) {
			display: none;
		}
	}

	h1, h2 {
		color: white;
	}

	@include breakpoint($large) {
		padding-top: 4em;
	}
}

.site-header {
	margin-bottom: 0px;
}

article.page .entry-title {
	@include breakpoint($small) {
		display: none;
	}
}

body.home {
	.site-description,
	.entry-title {
		display: block;
	}
	.page-title {
		display: none;
	}
}

.header-container {
	@include breakpoint($large) {
		@include drop-shadow();
		position: relative;
		height: 295px;
		margin-bottom: 20px;
	}
}

body.is-mobile .header-container {
	@include breakpoint($large) {
		height: auto;
	}
}

.entry-content {
	word-wrap: break-word;
	word-wrap: break-word;
	-moz-hyphens: auto;
}

//Pagination links
.pagination {
	margin-top: emCalc(20);
	margin: 0 $mobile-side-margin;
	text-align: right;

	@include breakpoint($large) {
		margin: 0;
	}

	li,
	.pagination-previous,
	.pagination-next {
		@include drop-shadow();
		display: inline-block;
		padding: 5px;
		margin-right: 5px;
		background-color: #33659f;
		transition: 0.2s;

		&:hover {
			background-color: #668eb7;
		}

		@include breakpoint($medium) {
			margin: emCalc(10) emCalc(5);
			margin-right: 0px;
		}
	}

	.pagination-previous {
		float: left;
	}
	.pagination-next {
		float: right;
	}

	a {
		color: white;
	}
}

//Layout Stylings
a.post-edit-link {
	float: right;
	
	&:before {
		font-family: dashicons;
		font-size: 20px;
		font-weight: 300px;
		color: #66a68c;
		content: '\f464';
		@include transition(0.1s);
	}
}

a.post-edit-link:hover {
	text-decoration: none;
	&:before {
		color: $wwuGreen;
	}
}

body.page a.post-edit-link {
	@include center-vertical
}

.centered {
	display:block;
	margin:auto;
	text-align:center;
	padding: .5em 0;
	margin-bottom: 2em;
}
.left {
	float:left;
}
.right {
	float:right;
}

.clear-left {
	clear:left
}
.clear-right {
	clear:right
}
.end {
	clear:both;
}
.hide {
	display: none;
}

div.right p , div.left p {
	text-align:center;
	color: #666;
	font-style: italic;
	font-size: .8em;
}
img {
	height: auto;
	max-width: 100%;
}
div.right img {
	margin: 0 0 0 10px;
}
div.left img {
	margin: 0 10px 0 0;
}

//Table formatting
table.table-flex {
	width: 100%;
	border-collapse: collapse;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1.35em;
	word-break: break-all;
}
table.table-flex tr:nth-of-type(odd) {
	background: $wwuLtGray;
}
table.table-flex th {
	background: $wwuBlue;
	color: white;
	hyphens: none;
}
table.table-flex td, th {
	padding: 6px;
	border: 1px solid #ccc;
}

figure, .fig-left {
	position: relative;
	margin: 1.5em 0;
	display: block;
	max-width: 300px;
	text-align: center;
	float: left;
	padding-left: 0em;
	padding-right: 2em;
}

.fig-right {
	position: relative;
	margin: 1.5em 0;
	display: block;
	max-width: 300px;
	text-align: center;
	float: right;
	padding-left: 2em;
	padding-right: 0em;
}

figure img {
	border-top: 1px dotted $wwuBlue;
	max-width: 300px;
}

figcaption {
	margin: .75em 0;
	text-align: center;
	font-style: italic;
	line-height: 1.5em;
	display: block;
	font-size: 1.3em;
	border-bottom: 1px dotted $wwuBlue;
	padding-bottom: 1em;
}

article {
	clear: both;
	overflow: auto;

	ul { 
   		list-style-type: disc; 
	}
	ol { 
   		list-style-type: decimal;  
	}
	ul ul, ol ul { 
   		list-style-type: circle; 
   		margin-left: 15px; 
   		margin: 0;
	}
	ol ol, ul ol { 
   		list-style-type: lower-latin; 
   		margin-left: 15px; 
   		margin: 0;
	}
	ul, ol {
		line-height: 25px;
		margin: 1em;
	    padding-left: 1em; 
	    list-style-position: outside;
	    display: block;

	}
	//Firefox spacing fix
	ul li, ol li {
	    padding-left: .25em;
	}
}

 table {
 	max-width: 100%; //Prevents tables from overlapping container in Firefox
 	
 	td {
 		padding-left: 0.5em;
 	}
 }

/* Image caption styles */
.wp-caption {
	background-color: #FFF;
	padding: 0.75em;
	margin: 0.75em;
	box-shadow: 0px 0px 4px 2px #DDD;
	display: inline-block;
	p {
		margin-top: 0.5em;
		font-size: 0.85rem;
		line-height: 1.5;
		font-style: italic;
		color: #555;
	}
}

//Gallery Styles
.gallery-size-thumbnail .gallery-item {
	@include breakpoint($not-small) {
		width: 33%;
		display: inline-block;
		float: left;
	}
}
.gallery-size-medium {
	.gallery-item {
		width: 45%;
		float: left;
		margin: 0 10px;
		overflow: hidden;
	}
}

.gallery-size-large,
.gallery-size-full {
	.gallery-item {
		//Have to use these tags to override in-page styles outputted by Wordpress
		float: none;
		width: 100%;
	}
}

.gallery {
	overflow: hidden;
	float: left;
	text-align: center;
	margin: 10px 0;

	a img {
		border: 2px solid $wwuLtGray;
	}

	.gallery-item {
		@include breakpoint($small) {
			width: auto;
			margin: 0;
		}
	}
}

.gallery-icon {
	width: 100%;
}

.gallery-caption {
	font-size: 1em;
	font-style: normal;

	@include breakpoint($large) {
		font-size: 14px;
	}
}

