$zen-column-count: 9;
$zen-gutter-width: 0px;

.site-footer {	
	padding-top: emCalc(20);
	background-color: $wwuBlue;
	font-family: $muli;
	color: white;

	a {
		color: white;
		font-weight: 300;

		&:hover, &:focus {
			text-decoration: underline;
			color: $wwuLime;
		}
	}

	h2, h3, h4 {
		color: white;
		margin-top: 0px;
	}

	@include breakpoint($large) {
		min-height: emCalc(200);
		margin-top: emCalc(20);
	}

	.wrap {
		@include breakpoint($large) {
			$padding: emCalc(10);
			padding: 0 $padding;
			margin: 0 auto;
			max-width: emCalc(1200) + 2*$padding;
			@include zen-grid-container();
		}
	}

	//Give the widgets 2/3 of the space in the footer
	.footer-widgets {
		@include breakpoint($large) {
			@include zen-grid-item(6,1);
		}
		section:not(:first-child) {
			margin-top: 20px;
			h4 {
				margin-bottom: 10px;
			}
		}
		.widget-title {
			font-size: emCalc(20);
			font-family: $muli;
			text-transform: uppercase;
		}
		a {
			line-height: 14px;
			font-family: $lato;
		}
		li {
			width: auto;
			margin-bottom: 5px;
		}
	}

	.widget-area {
		padding-bottom: emCalc(20);
	}

	//Sub-grid, widgets take up 2/3 of footer in total, but 1/2 of sub-grid.
	.footer-widgets-1 {
		margin: 0 emCalc(20);
		@include breakpoint($medium) {
			.widget:not(.widget_calendar) {
				@include column-count(2);
			}
		}
		@include breakpoint($large) {
			@include zen-grid-item(3, 1);
		}
	}

	.footer-widgets-2 {
		margin: 0 emCalc(20);

		@include breakpoint($large) {
			@include zen-grid-item(6, 4);
			section {
				margin: 0 auto;
				width: 80%;
			}
		}

		ul:not(.menu) {
			@include column-count(3);
			@include breakpoint($small) {
				@include column-count(2);
			}
			width: 100%;
		}
	}

	//WWU card takes up remaining 1/3
	.card-container {
		@include breakpoint($large) {
			max-width: 310px;
			@include zen-grid-item(3, 1, right);
		}
	}
}

.western-card {
	@include breakpoint($large) {
		@include background-image(linear-gradient(#3a5a8f,#003f87));
		margin: 0;
		position: relative;
		@include transform(translateY(-30px));
		@include transition(0.2s);
	}

	h1 {
		padding: emCalc(13) 0;
		background-color: #33659f;
		margin: 0;
		font-weight: normal;
		font-size: emCalc(15);
		line-height: emCalc(16);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		box-sizing: border-box;
		
		@include breakpoint($large) {
			margin-bottom: emCalc(20);
			background-color: white;
			@include box-shadow(#555 0 0 7px);
		}

		a {
			color: white;
			padding: 0 emCalc(5);
		
			&:hover {
				text-decoration: none;
				color: $wwuLtBlue;
			}

			@include breakpoint($large) {
				color: $wwuBlue;
			}
		}
	}

	.western-contact-info {
		padding-top: emCalc(10);

		p {
			margin-bottom: 1.25em;
			line-height: 18px;
			font-size: emCalc(12);
			padding-left: 3.2em;

			&:before {
				color: $wwuYellow;
				display: block;
				position: relative;
				height: 0px;
				top: 0;
				left: -20px;
				font-size:110%
			}
		}

		@include breakpoint($large) {
			padding-top: 0px;
		}
	}

	.western-address:before {
		@include icon(home);
	}
	.western-telephone:before {
		@include icon(phone);
	}
	.western-contact:before {
		@include icon(mail);
	}

	//Hide for now
	.western-social-media {
		$social-icon-size: 24px;
		padding-left: emCalc(17);
		min-height: 55px;
		font-family: fontello;

		li {
			display: inline-block;
			font-size: $social-icon-size;
			height: $social-icon-size;
		}
		a {
			position: relative;
			display: block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width: $social-icon-size;
			height: $social-icon-size;
			top: -$social-icon-size;

			&:focus {
				border-bottom: 3px solid $wwuLime;
			}
		}

		//Generate styles for each icon in social icons
		//Based on key name in _mixins.scss
		@each $key, $value in $social-icons {
			.western-#{$key}-icon:before {
				content: $value;
			}
		}
	}
}

#global-footer-content {
    background-color: $wwuBlue;
    color: white;
    line-height: 20px;
    text-align: center;

    @include breakpoint($medium) {
    	font-size: 12px;
    	padding: 0 5%;

    	#global-footer-content-inner {
    		border-top: 1px solid rgba(#fff, 0.8);
    	}
    }
}