// // // // // // //      Header      // // // // // // //

header[role="banner"] {
	background-color:rgba(29, 29, 29, 0.55);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	line-height:2em;
	
	.site-title {
		font-family:$muli;
		
		a {
			color: white;
		}
	}

	@include breakpoint($medium-only) {
		min-height: 200px;
	}

	@include breakpoint($large) {
		height: 250px;
		margin-top:3.2em;
	}
}

header[role="banner"] {
	//.search { @include hide-element; }
}

.western-logo {
	color: $wwuBlue;
	background-color:$wwuBlue;
	background-repeat:no-repeat;
	a { @include hide-text; }

	@include breakpoint($large) {
		@include western-logo;
	}

	@include breakpoint($medium) {
		display: none;
	}
}

.mobile-logo {
	@include breakpoint($large) {
		display: none;
	}
}