@mixin icon($name) {
	font-family: fontello;
	content: map-get($icons, $name);
}

//--------------------------------------------

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

@mixin center-element {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin hide-element {
	display:none;
}

@mixin center-vertical {
	position: relative;
	top: 50%;
	@include transform(translateY(50%));
}

@mixin accordion-nav-style {
	@include transition(.33s color);
	color:$wwuBlue;
	border-bottom:solid 1px #fff;
	display:block;
	width:auto;
	text-decoration:none;
	font-size:1em;
	&:hover {
		@include transition(.1s color);
		background-color:lighten($wwuLtGray, 6%);
	}
}

@mixin drop-shadow($trans:0.04) { 
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, $trans);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, $trans);
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, $trans);
}

@mixin western-logo {
	height:125px;
	width:220px;
	background-color:$wwuBlue;
	background-image:url('//www.wwu.edu/wwucommon/lite/images/western-logo.png');
	background-repeat:no-repeat;
	background-position:50% 25%;
	float:left;
	position:relative;
	margin-top:-75px;
	left:(.5em * 3);
	top: 20px;
	z-index:999;
	@include box-shadow($dark 0 0 4px);

	&:focus {
		border-bottom: 3px solid $wwuLtBlue;
	}
}

//Uses mathamagical ratios to properly place an indicator triangle.
@mixin indicator-triangle($color, $size) {
	@include icon(triangle);
	$offset: #{$size * 3 / 5}px;
	position: absolute;
	color: $color;
	font-size: #{$size}px;
	top: -$offset;
	padding-left: $offset;
}
