//Local Variables
$primary-level1: $wwuDarkGray;
$primary-level2: #666666;
$accent-level1: #339cde;
$accent-level2: #668cb7;
$indent: 1em;

//WWU Mobile Logo
.mobile-logo {
	background-image: url('img/logo-horizontal.svg');
	background-repeat: no-repeat;
	width: 185px;
	height: 40px;
	position:absolute;
	top:0;
	margin-top: 5px;
}

body.is-mobile .mobile-logo {
	@include breakpoint($large) {
		display: none;
	}
}

//Western Navigation Bar
.western-nav {
	img {
		display: none;
	}

	position: relative;
	top: 4em;

	button.mobile-nav-button {
		@include drop-shadow();
		display: block;
		background-color: #33659f;
		float: right;
		border: none;
		margin-right: 10px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.button-wrap {
		$padding: 12px;
	    padding: $padding $padding/2 $padding/2;
	}

	button .nav-icon {
		float: right;
		background-color: transparent;
		background-repeat: no-repeat;
		height: 20px;
		width: 20px;
	}

	button .nav-icon:before {
		@include icon(menu);
		color: white;
		font-size: 28px;
		line-height: 20px;
	}

	button span {
	    color: #fff;
	    font-family: lato;
	    font-weight: 300;
	    padding-right: 10px;
	    margin-top: 5px;
	    font-size: 16px;
	    text-transform: uppercase;
	}

	@include breakpoint($large) {
		button.mobile-nav-button {
			display: none;
		}

		.western-quick-links {
			position:absolute;
			top:-50px;
			right:9.3%;
			button { @include hide-element; }
			ul {
				margin:0;
				padding:0;
			}
			li {
				display:inline-block;
				font-family: $muli;
				padding-left: .5em;
				font-size: emCalc(13);
				a {
					text-decoration: none;
					padding-left: 6px;
					color: $wwuBlue;
					&:hover {
						color:$wwuOceanBlue;
					}
					&:focus {
						text-decoration: underline;
					}
				}
			}
			li:not(:first-child):before { content: "\00B7 \0020 "; }
		}
	}

	@include breakpoint($medium) {
		position: relative;
		top: 0;
		background-color: $wwuGray;
		font-family: $muli;
		font-size: emCalc(14);
		height: emCalc(55);
		@include box-shadow(0px 0px 5px 3px rgba(0, 0, 0, 0.3));

		li a {
			color: white;
		}

		.western-quick-links {
			display: none;
		}
	}
}

body.is-mobile .western-nav {
	@include breakpoint($large) {
		top: 0;

		.mobile-nav-button {
			display: block;
			margin-right: 0;
			top: -5px;
		}

		.western-quick-links {
			right: 12%;
			top: 10px;
		}
	}
}

//Generic nav bar styles & adjustments
.nav-primary {
	display: none;
	@include drop-shadow(0.15);

	@include breakpoint($medium) {
		position: absolute;
		overflow: hidden;
		width: 100%;
		z-index: 1;

		.genesis-nav-menu {
			background-color: $wwuGray;
			padding: 1em 0;

			li {
				margin-bottom: emCalc(10);
			}

			a {
				font-family: $lato;
				font-weight: 300;
				font-size: 16px;
			}
		}
	}
}

body.not-mobile .nav-primary {
	@include breakpoint($large) {
		display: block;
		position: absolute;
		box-shadow: none;
		bottom: 0;
		font-family: $muli;
		font-size: emCalc(17);
		background-color: $wwuDarkGray;
		margin: 0px;
		width: 100%;
	}
}

body.is-mobile .nav-primary {
	@include breakpoint($large) {
		position: absolute;
		right: 0;
		width: 50%;
		background-color: $wwuGray;

		.genesis-nav-menu {
			li {
				margin-bottom: emCalc(10);
			}
		}

		&:before {
			@include indicator-triangle(#777, 25);
			right: 0;
			margin-right: 15px;
		}
	}
}

//Specific menu styles
//General styles & some mobile by default
.genesis-nav-menu {
	ul {
		clear: both;
		font-size: 1.6em;
		line-height: 1;
		width: 100%;
		z-index: 10;
	}

	//All Menu links
	li  a {
		color: #eee;
		padding: 8px 16px;
		display: inline-block;
		width: calc(100% - 75px);
	}

	//First level links only
	>li {
		text-align: left;
	}

	//Only 1st and 2nd level that have children
	//Because Genesis applies ".has-children" class even if it would exceed the max menu depth.
	> .menu-item-has-children,
	> .menu-item-has-children > .sub-menu > .menu-item-has-children {
		position: relative;

		&:before {
			@include icon(triangle);
			@include transition(0.2s);
			@include transform(rotate(90deg));
			display: block;
			float: right;
			margin: 5px 10px;
			color: white;
			font-size: 25px;
		}

		> a {
			border-right: solid 1px rgba(255,255,255,0.4);
		}
	}

	//Sub menu indicator animation on click
	li.expanded {
		margin-bottom: 0px;

		&:before {
			@include transform(rotate(180deg) !important);
		}
	}


	//Highlight the current page
	li.current_page_item > a {
		font-weight: 900;
	}

	//Level 2 menus (first sub menu)
	ul.sub-menu {
		font-size: emCalc(14);
		display: none;
		padding-top: 15px;
		overflow: auto;
		background-color: #33659f;
		box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,0.5), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.5);
		width: auto;

		a {
			padding-left: 2*$indent;
			width: calc(100% - 75px - 1em);
		}

		@include breakpoint($large) {
			padding-top: 10px;
		}
	}

	//Level 3 menus
	ul.sub-menu ul {
		background-color: $accent-level2;
		
		a {
			padding-left: 3*$indent;
		}
	}
}

//Migrated desktop styles.
//Desktop exclusive styles for non-mobile devices.
body.not-mobile .genesis-nav-menu {
	@include breakpoint($large) {
		padding: 0;

		li  a {
			padding: 1em 10%;
			display: block;
			width: auto;
		}

		>li {
			display: inline-block;

			> a:hover {
				color: $accent-level1;
			}

			&:hover,
			>ul:hover {
				background-color: $primary-level2;
			}
		}
	

		> .menu-item-has-children,
		> .menu-item-has-children > .sub-menu > .menu-item-has-children {
			> a {
				border-right: none;
			}
		}

		//Disable indicators on level 1 only
		> .menu-item-has-children:before {
			content: '';
			margin: 0px;
			float: none;
		}

		//Hover display triggers for desktop
		li:hover > ul,
		ul.sub-menu > li:hover > ul,
		.sub-menu:hover {
			display: block;
		}

		//First sub-menu
		ul.sub-menu {
			position: absolute;
			min-width: emCalc(200);
			box-shadow: none;
			background-color: transparent;
			overflow: visible;
			padding-top: 0;
			padding-left: 0;

			&:before {
				@include indicator-triangle($primary-level1, 25);
			}

			li > a {
				padding: 12px 1em;
				background-color: $primary-level1;
				width: auto;
				&:hover {
					text-decoration: underline;
				}
			}

			.menu-item-has-children:before {
				margin: 0px;
				font-size: 20px;
				position: absolute;
				top: 30%;
				right: 5px;
				color: rgba(255, 255, 255, 0.70);
			}
		}
	

		//Second sub-menu
		ul.sub-menu ul {
			left: 100%;
			top: 0;
			border: 2px solid $primary-level2;
			border-radius: 1px;
			@include drop-shadow();

			&:before { content: '';}
			a {
				background-color: $primary-level2;
				padding-left: 1em;
			}
		}		
	}
}

//Make nav fill width of content
//Separated for a toggle class in the future
body.not-mobile .genesis-nav-menu {
	@include breakpoint($large) {
		display: table;
		width: 100%;

		> li {
			display: table-cell;
			a {
				text-align: center;
			}
		}

		ul.sub-menu a{
			text-align: left;
		}
	}
}

//Transparent nav bar separator
//Applies to tablets and below
.nav-primary:before {
	@include breakpoint($medium) {
		content: "";
		height: 4px;
		width: 100%;
		display: block;
		background-color: rgba(255, 255, 255, 0.65);
	}
}

//Fix for last menu item dropdown on non-FHD desktop screens
@include breakpoint(770px 1440px) {
	.genesis-nav-menu li:last-child .sub-menu {
		right: 0;
		
		&:before {
			display: none;
		}
	}
	.genesis-nav-menu li:last-child .sub-menu .sub-menu {
		top: initial;
		left: 15px;
	}
}
