/*Fix spacing above Add-this feature for social media buttons */
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m,
.addthis_default_style {
    float:right;
    padding: 3em 2px; /*push down to clarify separation from post*/
}

/* space around the label for Subscribe by email input box*/
.subscribe-by-email-field {
    margin-top: .5em;
    padding-bottom: .5em;
}

//--------------------Subscribe by Email---------------------//

.subscribe-by-email {
    width: 90%;
    margin-right: auto;

    form p {
        margin-bottom: 5px;
        text-align: center;
        font-weight: 300;
    }

    .subscribe-by-email-submit {
        background-color: #bad80a;
        padding: .5em !important;
        border-radius: 5px;
    }

    .subscribe-by-email-field{
        margin-top: .5em;
        padding-bottom: .5em;
        border: 1px solid #bbb;
    }
}

.subscribe-by-email-submit , .with_frm_style .frm_submit input[type=submit]
{
    background-color: #bad80a;
    padding: .5em 1em !important; /*necessary to override existing important*/
    border-radius: 5px;
    margin-left: 1em;
    margin-top: 10px;
}
/*space around the subscribe by email text */
#subscribe-by-email-subscribe-form p{
    margin-bottom: 1em;
}
/* space around the label for Subscribe by email input box*/


//--------------------Form Styles---------------------//
.with_frm_style label.frm_primary_label, .with_frm_style.frm_login_form label,
.with_frm_style .frm_radio label, .with_frm_style .frm_checkbox label{
    font-size: 16px;
    padding: .5em;
}
.with_frm_style .frm_radio label, .with_frm_style .frm_checkbox label,
.with_frm_style p.description, .with_frm_style div.description, .with_frm_style div.frm_description, .with_frm_style .frm_error{
    font-size: 12px;
    margin-left: 1em;
}