/* Tripoli Reset http://devkick.com/lab/tripoli/ CSSresetr.com */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 1em;
	outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
	font: inherit;
	font-size: 1em;
}

//Button styling reset for iOS
input {
	-webkit-appearance: none;
	border-radius: 0;
}

pre.prettyprint {
	color:#903;  /*default color if prettyprint doesn't work */
	font-family:Courier, monospace;
	margin-bottom: .8em;
	}

dfn, i, cite, var, address, em { font-style: normal; }

th, b, strong, h1, h2, h3, h4, h5, h6, a { font-weight: normal; }

a, img, a img, iframe, form, fieldset,
abbr, acronym, object, applet, table { border: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td, center { text-align: left; vertical-align: top; }

body {
	line-height: 1;
	background: white;
	color: black;
} 

q { quotes: "" ""; }

ul, ol, dir, menu { list-style: none; }

sub, sup { vertical-align: baseline; }

a { color: inherit; }

font {
	color: inherit !important;
	font: inherit !important;
	color: inherit !important;
} /* disables some nasty font attributes in standard browsers */

marquee {
	overflow: inherit !important;
	-moz-binding: none;
}

blink { text-decoration: none; }

nobr { white-space: normal; }