
//If a non-touch browser, search will be in western nav.  Hide it if this is the case.
.western-nav .western-search {
	@include breakpoint($medium) {
		display: none;
	}
}

$searchHeight: 44px;
$borderHeight: 1px; 
$searchBorder: #E4E4E4;

.western-search {
	top: -4em;
	display: block;
	right: 0;
}

.western-search button {
	display: none;
}

.western-search .western-search-widget {
	background-color: #777;

	.western-search-terms:before {
		@include icon(search);
		color: white;
		font-size: 25px;
		display: inline-block;
		margin: 5px 0 5px 16px;
	}

	#searchfield {
		width: 100%;
		
		font-size:emCalc(14);
		font-family:$muli;
		border: transparent;
		//padding:.25em .25em .1em 0;
		background-color: transparent;

		position: absolute;
		font-size: 18px;
		line-height: 35px;
		margin-left: 10px;
		color: rgba(255, 255, 255, 0.75);
	}
}

.western-search-type-toggle {
	display: none; //hide by default
	border-top: 1px solid #717171;
	overflow: hidden;

	input[type="radio"] {
		display: none;
	}

	//Selects the search-toggle-local and search-toggle-western containers
	span {
		width: 50%;
		display: inline-block;
		color: white;
		text-align: center;
		float: left;
	}
	label {
		display: block;
		text-transform: uppercase;
		font-weight: 300;
		font-size: emCalc(13);
		height: 20px;
		padding: 5px 0;
		line-height: 25px;
		width: 100%;
	}

	span.selected {
		color: $wwuYellow;
		border-bottom: 1px solid $wwuYellow;
	}
}

body.not-mobile .western-search{
	@include breakpoint($large) {
		position: absolute;

		button {
			display: block;
			border: none;
			height: $searchHeight;
			width: $searchHeight;
			cursor: pointer;
			background-color: $wwuLtBlue;
			font-size: 0;
			color: white;

			&:before {
				@include icon(search);
				font-size: 25px;
			}

			&.is-open:before {
				@include icon(close);
				font-size: 32px;
			}
		}
		.western-search-widget {
			position:absolute;
			top: 0;
			right: $searchHeight;
			margin-top: 0;
			top: -75px; //Hide by default until clicked & transition applies
			overflow: hidden;
			background: rgba(255, 255, 255, 0.7);
			padding:0;
			z-index: 10;
			width: emCalc(295);
			font-family:$muli;
			width: 400px;
			min-height: $searchHeight;
			border-right: 5px solid #33659f;

			.western-search-terms {
				padding: 9px;
				border: 1px solid $searchBorder;
				border-bottom: none;

				&:before {
					display: none;
				}
			}
			.western-search-terms label {
				@include hide-text;
			}
			input[type="submit"] {
				background-color:$wwuOceanBlue;
				color:#fff;
				margin:0;
				padding:0 1em;
				border:none;
				position:absolute;
				top:0;
				right:0;
				height:100%;
				font-size: emCalc(14);
				cursor:pointer;
			}
		}

		#searchfield {
			font-size:emCalc(14);
			font-family:$muli;
			border: none;
			padding:.25em .25em .1em 0;
			background-color: transparent;
			margin-left: 0;
			line-height: normal;
			color: black;
			position: initial;
		}
		.western-search-type-toggle {
			background-color: #ccc;
			border-top: transparent;
			margin: 0;

			span {
				color: black;
				font-weight: normal;
			}
			span.selected {
				color: $wwuLtBlue;
				border-bottom: transparent;
				background-color: #eee;
			}
			label {
				font-size: emCalc(11);
				padding: 2px 0;
				-webkit-font-smoothing: auto;
			}

			.search-toggle-western {
				float: right;
			}
		}
		.search-divider {
			width: 5px;
			height: 100%;
			background-color: #33659f;
		}
	}
}


/*
 * 404 Page Search form
 */
 
 .search-form {
 	input[type="search"] {
 		padding: 0.25em;
		background: #FFF none repeat scroll 0% 0%;
		border-width: 1px;
		border-color: #808080;
		border-radius: 1px;
 		margin-right: 0.25em;
 	}
 	input[type="search"]:active, input[type="search"]:focus {
 		box-shadow: 0px 0px 4px 0px $wwuOceanBlue;
 	}
 	input[type="submit"] {
		padding: 0.25em 0.75em;
		background: #FFF none repeat scroll 0% 0%;
		border: 1px solid #DDD;
		border-radius: 3px;
		box-shadow: 0px 0px 2px #DDD;
 	}
 	input[type="submit"]:hover {
 		box-shadow: 0px 0px 2px $wwuLime;
		cursor: pointer;
 	}
 	input[type="submit"]:active {
 		box-shadow: 0px 0px 2px $wwuLime;
 	}
 }