div#content{
	background: #fff;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
}
.mu_register{
	width: 100%!important;
	padding: 1em;
	word-wrap: break-word;
	box-sizing: border-box;
	p, ul {
		line-height: 1.5em;
		margin-bottom: 1em;
	}
	#blog_title, #user_email, #blogname, #user_name {
		border-color: #808080;
	}
	input[type="submit"], #blog_title, #user_email, #blogname, #user_name, select {
		width: auto!important;
		padding: 0.25em;
		font-size: 100%!important;
		line-height: normal;
	}
	input:active, input:focus, input.submit:hover {
		box-shadow: 0px 0px 4px 0px $wwuOceanBlue;
	}
	label, .prefix_address {
		font-size: 100%!important;
	}
	input.submit {
		background-color: $wwuRed;
		border: none;
		padding: 1em;
		color: #fff
	}
}