//Wordpress Core Styles
//codex.wordpress.org/CSS
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    padding: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    padding: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    padding: 5px 0 20px 20px;
}

a img.alignnone {
    padding: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    padding: 5px 20px 20px 0;
}

a img.aligncenter {
    @include center-element();
}

//Screen reader compatible hide-text
//Recommended by webaim.org
.acc-hide-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/*Boxes*/
.call-out-box-left,
.call-out-box-right,
.media-tree-holder {
    width: 29%;
    background-color: #cce6f7;
    padding: 1em;  
    word-wrap: normal;

     @include breakpoint($small) {
        width: auto;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}
.call-out-box-right {
    float: right;
    margin-left: 1em;
}
.call-out-box-left {
    float: left;
    margin-right: 1em;
}

.clearfloat {
    clear: both;
}

.call-out-box-left, .call-out-box-right,
.aligncenter, img.alignleft, img.alignright, img.aligncenter {
    @include breakpoint($small) {
        float: none;
    }
}

img.alignleft, img.aligncenter, img.alignright {
    @include center-element();
}

//Generate classes for each icon in the icon set
@each $key, $value in $icons {
  .#{$key}-icon:before {
    content: $value;
  }
}
