.widget_nav_menu {
	@include breakpoint($large) {
		max-width: 60%;
		margin: 0 auto;
	}

	.widget-title {
		display: none;
	}

	a {
		font-size: emCalc(14);
		line-height: emCalc(24);
	}

	li {
		border-bottom: 1px solid white;
		list-style-image: none;
		list-style-type: none;
		padding-top: 0.5em;
	}
}


.widget_text {
	.textwidget {
		font-size: emCalc(14);
		line-height: emCalc(25);
	}
	@include breakpoint($large) {
		max-width: emCalc(300);
		margin-top: emCalc(10);
	}
	a img {
		@include breakpoint($medium-large) {
			width: 100%;			
		}
		@include breakpoint($medium) {
			@include center-element();
		}
	}

	ul {
		list-style-type: disc;
		list-style-position: outside;
		li {
			margin-left: 1.5em;
		}
	}
}


.widget_search {
	border: solid 1px #bbb;
	padding: 5px;
	border-radius: 3px;
	margin-top: emCalc(30);

	//Hide placehodler text on focus
	input:focus::-webkit-input-placeholder { color:transparent; }
	input:focus:-moz-placeholder { color:transparent; }

	input[type="search"]  { //Box
		width: 100%;
		border: transparent;
		background-color: transparent;
	}

	input[value="Search"]  { //Button
		display: none;
	}
}

.widget_calendar #wp-calendar{
	@include breakpoint($medium-large) {
		font-size: 80%;
	}
	@include breakpoint($medium) {
		width: 80%;
		margin: 0 auto;
	}
	tbody {
		min-height: 300px;
		tr {
			td {
				text-align: center;
			}
		}

	}
	a {
		line-height: 15px;
	}
	th {
		width: 30px;
	}
	tr {
		padding: 5px 0;
		line-height: 20px;
	}
	caption {
		text-align:center;
		font-weight: bold;
		margin: 8px;
	}
	tfoot{
		margin : 10px;	
	}
	td a {
		font-weight: bold;
		padding-top: 6px;
	}
	td#prev {
		a {
			float:left;
		}
	}
	td#next {
		a { 
			float:right;
		}
	}
}

.footer-widgets .widget_tag_cloud {
	a {
		font-family: verdana;
		color: #99b2ef;
	}
}
